@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  height: 100vh;
  background-image: url(/static/img/websitedp2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -2;
}
.particles-js-canvas-el {
  position: fixed !important;
  z-index: -3;
}
.nav-link {
  transition: 0.3s ease;
  border-bottom: 2px solid transparent;
  padding: 10px 0px 10px 0px !important;
  color: wheat !important;
  cursor: pointer;
}
svg {
  position: absolute;
  bottom: 3%;
  left: 3%;
  pointer-events: none;
}
svg g rect:nth-child(1) {
  stroke: none;
}
.nav-link:hover {
  border-bottom: 2px solid white;
  padding: 10px 0px 3px 0px !important;
}
.bg-dark {
  background-color: transparent !important;
}
.navbar .container .nav-item {
  margin: 0px 15px;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
}
.navbar-brand {
  font-family: cursive;
  font-weight: bold;
  padding: 10px 0px 10px 0px !important;
}
.logos {
  position: fixed;
  right: 3%;
  bottom: 5%;
}
.logos ul li {
  list-style: none;
  margin-top: 50px;
}
.logos ul li a {
  text-decoration: none;
}
.logos ul li a i:hover {
  color: rgb(253, 200, 100) !important;
}
/* .git {
  background: white;
  border-radius: 50%;
} */
.home_name {
  position: relative;
  /* display: inline-block; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: "Playfair Display", serif;
}
.home_name h1:nth-child(1) {
  font-family: "Lobster", cursive !important;
  letter-spacing: 2px;
}
.home_animate_heading {
  font-style: oblique;
  font-weight: lighter;
  letter-spacing: 1px;
}
.About {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: -100vh;
  left: 0;
  overflow: auto;
  background-color: #232423;
  transition: all 0.5s;
}
.About::-webkit-scrollbar {
  width: 7px;
}

.About::-webkit-scrollbar-thumb {
  background: rgb(173, 180, 173);
  border-radius: 10px;
}
.down {
  top: 0;
}
.about_cross {
  position: relative;
  top: 5%;
  float: right;
  right: 2%;
  cursor: pointer;
}
.aboutContainer {
  text-align: center;
  width: 70vw;
  height: fit-content;
  clear: both;
  margin: auto;
}

.aboutContainer h2 {
  color: white;
  border-bottom: 0.5px solid whitesmoke;
  display: inline;
  margin: auto;
  font-family: "Lobster", cursive;
  font-size: 40px;
  letter-spacing: 2px;
}
.aboutContainer img {
  height: 300px;
  width: 300px;
  border-radius: 50% !important;
}
.aboutContainer .flex-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  font-family: "Ubuntu", sans-serif;
  opacity: 0;
  transition: all 0.9s ease;
  transition-delay: 0.5s;
}
.down .flex-container {
  opacity: 1;
}
.aboutContainer p {
  color: whitesmoke;
  padding: 10px 50px;
}
.aboutContainer .grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}
.testimonial-content {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  margin: 100px 30px;
}
.testimonial-content .content-box {
  width: 30%;
  height: 100%;
  margin: 25px 30px;
  display: inline-block;
  background: gray;
  border-radius: 10px;
  padding: 10px 10px;
  opacity: 0;
  position: relative;
  transform: translateY(50px);
  transition: all 0.9s ease-in-out;
}

.testimonial-content .content-box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgb(84 101 140);
  z-index: -1;
  border-radius: 10px 50% 50% 10px;
}
.testimonial-contentUp .content-box {
  transform: translateY(0px);
  opacity: 1 !important;
}
.testimonial-content .content-box p {
  margin: 20px;
}
.testimonial-content .content-box .recompic {
  width: 100px;
  height: 100px;
  border-radius: 50% !important;
}
.testimonial-content .content-box:hover {
  transform: scale(1.01);
  background: whitesmoke;
}

.resume {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  left: -100vw;
  overflow: auto;
  background-color: #232423;
  transition: all 0.5s;
}
.resume .scroll_top{
  position:fixed;
  right:5%;
  bottom: 80%;
  background: rgb(242, 254, 255);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  display: none;
  z-index: 10000;
}
.resume .scroll_top .content-arrow{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resume .scroll_top span{
  font-size: 2em;
  color: black;
}
.down-resume .scroll_top{
  display: block;
  opacity: 0;
  transition: all 0.3s;
}
.down-resume .scroll_top.activate{
  bottom: 10%;
  opacity: 1;
}
.resume::-webkit-scrollbar {
  width: 7px;
}

.resume::-webkit-scrollbar-thumb {
  background: rgb(173, 180, 173);
  border-radius: 10px;
}
.down-resume {
  left: 0;
}
.quicklinks {
  margin-bottom: 50px;
  height: fit-content;
}
.down-resume {
  scroll-behavior: smooth;
}
.quicklinks ul li {
  display: inline-block;
  list-style: none;
  margin: 10px;
  padding: 5px;
}
.quicklinks ul li a {
  text-decoration: none;
  color: wheat;
}
.quicklinks {
  position: sticky;
  top: 0;
  z-index: 10;
}
.resumeContainer {
  margin-top: 100px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.resumedata li {
  list-style: none;
  margin: 0px 20px 100px 20px;
}

.resumeContainer h2 {
  display: inline-block;
  margin: auto;
  border-bottom: 1px solid whitesmoke;
  padding: 0px 0px 10px 0px;
  font-family: "Lobster", cursive;
  font-size: 40px;
  letter-spacing: 2px;
}
.li-items h3 {
  color: #d0a85f !important;
}
.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skills-grid-items {
  position: relative;
  color: white;
  height: fit-content;
  background: #858482;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  /* border-left: 5px solid rgb(73 118 150); */
  box-shadow: 5px 10px 10px #000000;
}
.skills-grid-items::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, transparent, rgb(40 64 44));
}
.progress_bar1 {
  width: 90%;
  height: 2em;
  background: black;
  color: green;
  border-radius: 1.5em;
  margin: auto;
  position: relative;
}
.progress_bar1::before {
  content: attr(data-skill) "%";
  color: black;
  padding: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.3em;
  bottom: 0.3em;
  top: 0.3em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 0.6em);
  background-color: wheat;
  border-radius: 1.5em;
}

.work_experience {
  display: inline-block;
  background: #858482;
  border-radius: 10px;
  color: white;
  padding: 30px;
  border-left: 5px solid rgb(73 118 150);
  box-shadow: 5px 10px 10px #000000;
  transition: all 0.5s ease;
  margin: 50px;
  position: relative;
}

.work_experience::before {
  position: absolute;
  top: 0;
  left: 0;
  /* border-right: 7px solid blue; */
  border-radius: 10px 30% 30% 10px;
  content: "";
  width: 50%;
  height: 100%;
  background: rgb(38 53 86);
  z-index: -1;
}
.work_experience:hover {
  transform: scale(1.02);
}
.resume .li-item {
  opacity: 0;
  transition: all 0.9s ease;
  transition-delay: 0.5s;
}
.li-items h3{
  padding: 30px 30px;
}
.experience .work_experience {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.9s cubic-bezier(0, 0.7, 0.7, 0.7);
}
.experienceUp .work_experience {
  transform: translateY(10px);
  opacity: 1;
}
.experience .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.experience .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px !important;
  height: auto !important;

}
.down-resume .li-item {
  opacity: 1;
}

.education .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 200px;
}

.education .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  background: rgba(240, 222, 255,0.2);
  position: relative;
  border-radius: 20px;
  -webkit-box-reflect: below 1px linear-gradient(transparent,transparent,#0006);
}

.education .swiper-slide::after{
  position: absolute;
  content: attr(data-degree);
  top: 15%;
  left: 0;
  width: 80%;
  height: 10%;
  background: blueviolet;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius:0px 20px 20px 0px;
}
.education .swiper-slide .content-details{
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: fit-content;
  /* padding: 15px 10px; */
}

.education .swiper-slide .content-details p{
  color: whitesmoke;
}


.project {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  top: 0;
  right: -100vw;
  overflow-y: auto;
  background-color: #232423;
  transition: all 0.5s;
  overflow-x: hidden;
}
.project::-webkit-scrollbar {
  width: 7px;
}
.project .scroll_top{
  position:fixed;
  right:5%;
  bottom: 80%;
  background: rgb(242, 254, 255);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
  display: none;
  z-index: 10000;
}
.project .scroll_top .content-arrow{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .scroll_top span{
  font-size: 2em;
  color: black;
}
.down-project .scroll_top{
  display: block;
  opacity: 0;
  transition: all 0.3s;
}
.down-project .scroll_top.activate{
  bottom: 10%;
  opacity: 1;
}
.project::-webkit-scrollbar-thumb {
  background: rgb(173, 180, 173);
  border-radius: 10px;
}
.down-project {
  right: 0;
}
/* .project .projectContainer {
  opacity: 0;
  margin-bottom: 100px;
  transition: all 0.9s ease;
  transition-delay: 0.5s;
}
.down-project .projectContainer {
  opacity: 1;
} */


.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: #ed8d8d;
  color: #fff;
  max-height: 50px;
  z-index: 2;
}
.projectContainer .container {
  margin-top: 100px !important;
}
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');
.projectContainer .container h3{
  text-align: center;
  font-family: 'Bodoni Moda', serif;
  letter-spacing: 10px;
  color: white;
}
.projectContainer .container a {
  color: rgb(233, 169, 50) !important;
}
.ruler_move{
  position: relative;
  overflow: hidden;
  width: 20%;
  height: 5px;
  background: rgb(161, 163, 155);
  margin: auto;
  border-radius: 2px;
}
.mover{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 15px;
  background: rgb(41, 32, 32);
  animation: mover 1.5s infinite linear;
}
@keyframes mover {
  0% {
    right:calc(0 - 15px);
  }
  100% {
    right:calc(100%);
  }
}



.proj_list{
  margin-top: 70px;
}
.proj_list .proj{
  width: 50%;
  margin: 50px auto;
  border-radius: 20px;
  height: fit-content;
  height: -moz-fit-content;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  padding: 15px;
  backdrop-filter: blur(10px);
}
.proj_list .proj.right{
  transform: translateX(300px);
  visibility: hidden;
  opacity: 0;
  transition: all 1.5s;
}
.proj_list .proj.left{
  transform: translateX(-300px);
  visibility: hidden;
  opacity: 0;
  transition: all 1.5s;
}
.down-project .proj_list .proj.proj_left{
  visibility: visible;
  transform: translateX(0px);
  opacity: 1;
}
.proj_list .proj h3{
  letter-spacing: 2px;
  font-size: 30px;
  color: white;
}
.proj_list .proj p{
  margin:20px;
  font-size: 20px;
  text-align: left;
  color: #ffdddd;
}
.proj_list .proj p span{
  color: rgb(233, 169, 50);
}
@media screen and (max-width: 1000px) {
  .home {
    background-position: 62% center;
  }
  .aboutContainer {
    width: 95vw;
  }
  .aboutContainer .flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .aboutContainer .grid-box {
    grid-template-columns: 1fr;
  }
  .aboutContainer img {
    height: 200px;
    width: 200px;
    border-radius: 50% !important;
    margin: auto;
  }
  .testimonial-content .content-box {
    width: 100%;
    margin: 30px auto;
  }
  .skills-grid {
    grid-template-columns: 1fr;
  }
  .work_experience {
    width: 95% !important;
    margin: 10px auto !important;
  }
  .event h3 {
    font-size: 19px;
  }
  .event p {
    font-size: 15px;
  }
  .education .timeline_education {
    width: fit-content;
    margin: 0px 0px 0px auto;
    max-width: 50vw;
  }
  .event::after {
    font-size: 12px;
    left: -100px !important;
    /* text-align: center; */
  }
  .home_name h1 {
    font-size: 15px;
  }
  .projectContainer .container a {
    overflow-wrap: break-word;
  }
  .testimonial-contentUp .content-box {
    opacity: 1 !important;
  }
  .proj_list .proj{
    width: 100%;
  }
  .proj_list .proj p{
    font-size: 17px;
  }
  .projectContainer .container h3{
    letter-spacing: 5px;
  }
  .quicklinks ul li a {
    font-size: 14px;
  }
  .logos {
    left: 5%;
    bottom: 3%;
  }
  svg {
    display: none;
  }
  .proj_list .proj h3{
    font-size: 20px;
  }
}
